<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>HomePage</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" </head>

<body>
	<div class="container text-center">
		<h1>Welcome Page</h1>
		<div>
			<h3><a th:href="@{/admin/products-management/view-products}">Admin view product</h3> <br>
			<h3><a th:href="@{/admin/promotions-management/view-promotions}">Admin view promote code</h3>
		</div>
	</div>

</body>

</html>