<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi-VN">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>[[${ProductDetails.productName}]]</title>
	<link rel="stylesheet" href="detail.css">
	<link rel="stylesheet" th:href="@{/css/detail.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

	<div class="header-top-bar">
		<div class="banner-media">
			<div class="media-slider" data-size="3">
				<div class="item" data-background-color="#000000" data-order="1">
					<img src="https://cdn.tgdd.vn/2022/06/banner/1200-44-1200x44-4.png" alt="ip">
				</div>
			</div>
			<style>
				.banner-media {
					background-color: #000000;
				}
			</style>
		</div>
	</div>
	<header class="header  " data-sub="0">
		<div class="header__top">
			<div>
				<a th:href="@{/}" class="header__logo">
					<i class="iconnewglobal-logo">
						<img src="https://vi.wikipedia.org/wiki/T%E1%BA%ADp_tin:The_gioi_di_dong_logo.svg" alt="">
					</i>
				</a>

				<!--Search-->
				<form th:action="@{/view-products}" class="form-inline header__search">
					<input type="hidden" name="category" th:if="${param.category != null}"
						th:value="${param.category}" />
					<input type="hidden" name="manufacturer" th:if="${param.manufacturer != null}"
						th:value="${param.manufacturer}" />
					<input class="input-search" type="name" name="name" placeholder="Bạn tìm gì..."
						th:value="${param.name}" autocomplete="off" maxlength="100" />
					<button type="submit">
						<i class="icon-search"></i>
					</button>
					<div id="search-result"></div>
				</form>


				<a href="/cart" class="header__cart menu-info">
					<div class="box-cart">
						<i class="iconnewglobal-cart"></i>
						<span class="cart-number"></span>
					</div>
					<span>Giỏ hàng</span>
				</a>
				<div class="header__listtop">
					<div class="divitem">
						<a href="/tin-tuc">24h<br>Công nghệ</a>
					</div>
					<div class="bordercol"></div>
					<div class="divitem">
						<a href="/hoi-dap">Hỏi Đáp</a>
					</div>
					<div class="bordercol"></div>
					<div class="divitem">
						<a href="/game-app">Game App</a>
					</div>
				</div>



			</div>
		</div>
		<div class="header__main">
			<div>
				<ul class="main-menu">
					<li th:each="category: ${cats}">
						<a th:href="@{/view-products(category=${category.categoryID})}">
							<span th:utext="${category.categoryName}"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>


	<section style="margin-top: 2rem;">
		<h1 th:utext="${ProductDetails.productName}">Tên Điện Thoại</h1>
		<div class="box_main">
			<div class="box_left">
				<div class="box01 ">
					<div class="box01__show">
						<div class="show-tab loading" data-gallery-id="featured-images-gallery" data-color-id="0">
							<div class="detail-slider owl-carousel" th:if="${ProductDetails.features != null}">

								<a href="javascript:void(0)" class="slider-item "
									data-gallery-id="featured-images-gallery" data-color-id="0" data-picture-id="216977"
									data-video-id="XQMh9vPKTpg" data-index="0" data-time="0">
									<img th:each="img : ${ProductDetails.features}"
										th:src="@{'data:image/;base64,'+${img.toShowImage}}" width="50px"
										height="50px">&nbsp; &nbsp;

								</a>
							</div>

						</div>

					</div>
					<div class="scrolling_inner">
						<div class="box01__tab scrolling">
							<div id="thumb-featured-images-gallery-0" class="item itemTab active "
								data-gallery-id="featured-images-gallery" data-color-id="0" data-is-full-spec="False"
								data-color-order-id="0" data-isfeatureimage="True">
							</div>
						</div>
					</div>
				</div>
				<div class="block-tab">
					<div class="bt-overlay"></div>
					<ul class="block-tab-top">
						<li id="tab-featured-images-gallery-0" class="tab-item active" data-is-360-gallery="False"
							data-gallery-id="featured-images-gallery" data-color-id="0"
							data-thump-name="&#x110;i&#x1EC3;m n&#x1ED5;i b&#x1EAD;t">
							&#x110;i&#x1EC3;m n&#x1ED5;i b&#x1EAD;t
						</li>
						<li id="tab-color-images-gallery-2" class="tab-item " data-is-360-gallery="False"
							data-gallery-id="color-images-gallery" data-color-id="2" data-thump-name="&#x110;&#x1ECF;">
							&#x110;&#x1ECF;
						</li>
						<li id="tab-color-images-gallery-12" class="tab-item " data-is-360-gallery="False"
							data-gallery-id="color-images-gallery" data-color-id="12" data-thump-name="Tr&#x1EAF;ng">
							Tr&#x1EAF;ng
						</li>
						<li id="tab-color-images-gallery-11" class="tab-item " data-is-360-gallery="False"
							data-gallery-id="color-images-gallery" data-color-id="11" data-thump-name="&#x110;en">
							&#x110;en
						</li>
						<li id="tab-color-images-gallery-7" class="tab-item " data-is-360-gallery="False"
							data-gallery-id="color-images-gallery" data-color-id="7" data-thump-name="Xanh l&#xE1;">
							Xanh l&#xE1;
						</li>
						<li id="tab-unbox-gallery-0" class="tab-item " data-is-360-gallery="False"
							data-gallery-id="unbox-gallery" data-color-id="0"
							data-thump-name="H&#xEC;nh m&#x1EDF; h&#x1ED9;p">
							H&#xEC;nh m&#x1EDF; h&#x1ED9;p
						</li>
						<li id="tab-camera-image-gallery-0" class="tab-item " data-is-360-gallery="False"
							data-gallery-id="camera-image-gallery" data-color-id="0"
							data-thump-name="Ch&#x1EE5;p t&#x1EEB; camera">
							Ch&#x1EE5;p t&#x1EEB; camera
						</li>
						<li id="tab-360-degree-gallery-0" class="tab-item " data-is-360-gallery="True"
							data-gallery-id="360-degree-gallery" data-color-id="0"
							data-thump-name="H&#xEC;nh 360 &#x111;&#x1ED9;">
							H&#xEC;nh 360 &#x111;&#x1ED9;
						</li>
						<li id="tab-specification-gallery-0" class="tab-item " data-is-360-gallery="False"
							data-gallery-id="specification-gallery" data-color-id="0"
							data-thump-name="Th&#xF4;ng s&#x1ED1; k&#x1EF9; thu&#x1EAD;t">
							Th&#xF4;ng s&#x1ED1; k&#x1EF9; thu&#x1EAD;t
						</li>
						<li id="tab-article-gallery-0" class="tab-item " data-is-360-gallery="False"
							data-gallery-id="article-gallery" data-color-id="0"
							data-thump-name="Th&#xF4;ng tin s&#x1EA3;n ph&#x1EA9;m">
							Th&#xF4;ng tin s&#x1EA3;n ph&#x1EA9;m
						</li>
					</ul>
					<div class="btn-closemenu close-tab">Đóng</div>
					<div class="block-tab-content">
						<div class="content-t active not-load-content" id="tab-content-featured-images-gallery-0">
						</div>
						<div class="content-t  not-load-content" id="tab-content-color-images-gallery-2">
						</div>
						<div class="content-t  not-load-content" id="tab-content-color-images-gallery-12">
						</div>
						<div class="content-t  not-load-content" id="tab-content-color-images-gallery-11">
						</div>
						<div class="content-t  not-load-content" id="tab-content-color-images-gallery-7">
						</div>
						<div class="content-t  not-load-content" id="tab-content-unbox-gallery-0">
						</div>
						<div class="content-t  not-load-content" id="tab-content-camera-image-gallery-0">
						</div>
						<div class="content-t  not-load-content" id="tab-content-360-degree-gallery-0">
						</div>
						<div class="content-t  not-load-content" id="tab-content-specification-gallery-0">
						</div>
						<div class="content-t  not-load-content" id="tab-content-article-gallery-0">
						</div>
					</div>
				</div>
				<div class="popup-overlay">
					<div class="popup-overlay__popup-video-gallery">
						<div class="close-popup"><i></i></div>
						<div id="video-player"></div>
					</div>
				</div>
				<span style="display: none;" id="show-popup-unbox-gallery" data-is-360-gallery="false" class="read-full"
					data-gallery-id="unbox-gallery" data-color-id="0"></span>
				<span style="display: none;" id="show-popup-360-degree-gallery" data-is-360-gallery="true"
					class="read-full" data-gallery-id="360-degree-gallery" data-color-id="0"></span>
				<span style="display: none;" id="show-popup-specification-gallery" data-is-360-gallery="false"
					class="read-full" data-gallery-id="specification-gallery" data-color-id="0"></span>
				<span style="display: none;" id="show-popup-article-gallery" data-is-360-gallery="false"
					data-is-article-gallery="true" class="read-full" data-gallery-id="article-gallery"
					data-color-id="0"></span>
				<div class="popup-video-rating">
					<div class="popup-video-rating__content active">
						<b class="popup-video-rating__content__title">Video có hữu ích cho việc mua hàng của bạn
							không?</b>
						<span class="popup-video-rating__content_like-container popup-video-rating__content__action"><i
								class="iconvideorating-likeGlr"></i>Hữu ích</span>
						<span
							class="popup-video-rating__content_dislike-container popup-video-rating__content__action"><i
								class="iconvideorating-unlikeGlr"></i>Không hữu ích</span>
					</div>
					<b class="popup-video-rating__thank-you">Cảm ơn bạn đã đánh giá video</b>
				</div>

				<div class="manu-info-popup">
					<div class="manu-info-popup__content">
						<span class="manu-info-popup__content__btn-close"></span>
						<p class="manu-info-popup__content__title">
							Giới thiệu về hãng
							<img width="70" height="30" data-src="//cdn.tgdd.vn/Brand/1/samsungnew-220x48-1.png"
								alt="Samsung" class="lazyload" />
						</p>
						<div class="manu-info-popup__content__desc">
							<p>(Hàn Quốc)</p>
						</div>
					</div>
				</div>





				<div class="policy_intuitive cate42 scenarioNomal">
					<div class="policy">
						<ul class="policy__list">
							<li>
								<div class="iconl">
									<i class="icondetail-doimoi"></i>
								</div>
								<p>
									Hư gì đổi nấy <b>12 tháng</b> tại 3225 siêu thị toàn quốc (miễn phí tháng đầu) <a
										href="https://www.thegioididong.com/chinh-sach-bao-hanh-san-pham"></a>
								</p>
							</li>
							<li data-field="IsSameBHAndDT">
								<div class="iconl">
									<i class="icondetail-baohanh"></i>
								</div>
								<p>
								<p>Sản phẩm được bảo hành <b>[[${ProductDetails.productWarranty}]] tháng</b></p>
								</p>
							</li>

							<li>
								<div class="iconl"><i class="icondetail-sachhd"></i></div>
								<p>Bộ sản phẩm bao gồm:&nbsp;[[${ProductDetails.accessoriesIncluded}]]</p>
							</li>
						</ul>
					</div>
				</div>

				<div th:if="${ProductDetails.unboxing != null}">
					<h3><strong> Hình mở hộp: </strong></h3>
					<br>
					<img th:each="image : ${ProductDetails.unboxing}"
						th:src="@{'data:image/;base64,'+${image.toShowImage}}" width="500px" height="500px">&nbsp;
					&nbsp;
				</div>

				<div class="img-main">
					<img class="lazyload"
						data-src="//cdn.tgdd.vn/Products/Images/42/235838/Kit/samsung-galaxy-s22-ultra-note.jpg"
						alt="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy S22 Ultra 5G 128GB">
				</div>

			</div>
			<main class="box_right">
				<div class="scrolling_inner">
					<div class="box03 color group desk">
						<label>Các màu của sản phẩm</label>
						<br>

						<div th:each="colorVar, state : ${ProductColorList}" style="display: inline;">
							<!-- <span th:utext="${colorVar.forColorName}"></span> -->

							<a class="item act" th:if="${var.colorID == colorVar.forColorID}"
								th:each="var : ${ProductDetails.colorVariant}">

								<button th:if="${var.colorID == colorVar.forColorID}"
									th:attr="data-toggle=modal,data-target='#modal-'+${var.colorID}">
									<img th:if="${var.colorID == colorVar.forColorID}"
										th:src="@{'data:image/;base64,'+${var.toShowImage}}" width="50px" height="50px">
								</button>

								<div class="modal fade" th:id="'modal-'+${var.colorID}" tabindex="-1" role="dialog"
									aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<!-- Modal heading -->
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel"
													th:utext="${var.colorName}">

												</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">
														Detail
													</span>
												</button>
											</div>
											<!-- Modal body with image -->
											<div class="modal-body">
												<img class="img-fluid" th:if="${var.colorID == colorVar.forColorID}"
													th:src="@{'data:image/;base64,'+${var.toShowImage}}">
											</div>
										</div>
									</div>
								</div>

							</a>
						</div>





					</div>
				</div>



				<div class="box04 box_normal">
					<div class="price-one">
						<div class="box-price">
							<span th:utext="'Giá: ' + ${#numbers.formatInteger(ProductDetails.price, 0, 'POINT')} + 'đ'"
								class="box-price-present"></span>
						</div>
					</div>
				</div>

				<form th:action="@{/add-product-to-cart}" th:object="${addCartForm}" method="post">
					<br>
					<br>
					<input type="hidden" th:name="productID" th:value="${ProductDetails.productID}">
					<input type="hidden" th:name="productName" th:value="${ProductDetails.productName}">
					<input type="hidden" th:name="price" th:value="${ProductDetails.price}">


					<div th:if="${#lists.size(ProductColorList) >= 1}">
						<span>Chọn màu:</span>
						<div th:each="color : ${ProductColorList}">
							<input type="radio" th:field="*{colorID}" th:value="${color.forColorID}"
								th:utext="${color.forColorName}" required="required">
						</div>
					</div>
					<br>
					<input type="number" th:name="quantity" th:value="1" min="1" max="100" step="1">
					<br>
					<div class="block-button normal">
						<a th:href="@{/view-cart}">
							<input class="btn-buynow" type="submit" value="Đặt mua">
						</a>
					</div>

				</form>

				<div class="border7"></div>




				<div class="parameter__title" th:utext="'Cấu hình của ' + ${ProductDetails.productName}">

				</div>

				<div class="parameter" th:each="group : ${ProductDetails.specList}">
					<span class="lileft" th:utext="${group.section}"></span>
					<br>
					<br>
					<div th:each="attri : ${group.attributes}" class="parameter__list 235838 active liright">
						<strong class="comma" th:utext="${attri.key}"></strong>
						: <span th:if="${attri.value instanceof T(java.lang.String)}" th:utext="${attri.value}"></span>
						<ul th:if="${attri.value instanceof T(java.util.ArrayList) }" th:each="keyVal : ${attri.value}">
							<li th:utext="${keyVal}">
							</li>
						</ul>
					</div>
					<br>
				</div>




			</main>
		</div>
	</section>

	<footer class="footer">
		<section class="clearfix footer__top">
			<div class="footer__col">
				<ul class="f-listmenu">
					<li>
						<a rel="nofollow"
							href="https://www.thegioididong.com/tin-tuc/chuong-trinh-tich-diem-danh-cho-khach-hang-than-thiet-1434806">Tích
							điểm Quà tặng VIP</a>
					</li>
					<li>
						<a rel="nofollow" href="http://127.0.0.1:5500/lich-su-mua-hang">Lịch sử mua hàng</a>
					</li>
					<li>
						<a rel="nofollow" href="https://www.thegioididong.com/daily">Cộng tác bán hàng cùng TGDĐ</a>
					</li>
					<li>
						<a rel="nofollow" href="https://www.thegioididong.com/tra-gop">Tìm hiểu về mua trả góp</a>
					</li>
					<li><a rel="nofollow" href="https://www.thegioididong.com/bao-hanh">Chính sách bảo hành</a></li>
				</ul>
			</div>
			<div class="footer__col">
				<ul class="f-listmenu">
					<li>
						<a rel="nofollow" href="http://mwg.vn/">Giới thiệu công ty (MWG.vn)</a>
					</li>
					<li>
						<a rel="nofollow" href="http://vieclam.thegioididong.com/">Tuyển dụng</a>
					</li>
					<li><a rel="nofollow" href="https://www.thegioididong.com/lien-he">Gửi góp ý, khiếu nại</a></li>
					<li>
						<a rel="nofollow" href="hhttps://www.thegioididong.com/he-thong-sieu-thi-the-gioi-di-dong">Tìm
							siêu thị (3.145 shop)</a>
					</li>
					<li>
						<a rel="nofollow" class="linkversion"
							href="https://www.thegioididong.com/tra-gop?sclient=mobile">Xem bản mobile</a>
					</li>
				</ul>
			</div>
			<div class="footer__col">
				<div class="f-listtel">
					<p class="f-listtel__title">
						<strong>Tổng đài hỗ trợ</strong>
						(Miễn phí gọi)
					</p>
					<p class="f-listtel__content"><span>Gọi mua:</span> <a href="tel:18001060">1800.1060</a> (7:30 -
						22:00)</p>
					<p class="f-listtel__content"><span>Kỹ thuật:</span> <a href="tel:18001763">1800.1763</a> (7:30 -
						22:00)</p>
					<p class="f-listtel__content">
						<span>Khiếu nại:</span> <a href="tel:18001062">1800.1062</a> (8:00 - 21:30)
					</p>
					<p class="f-listtel__content"><span>Bảo hành:</span> <a href="tel:18001064">1800.1064</a> (8:00 -
						21:00)</p>
				</div>
			</div>
			<div class="footer__col">
				<div class="f-social">
					<a href="https://www.facebook.com/thegioididongcom" class="link-fb">
						<i class="icon-facebook"></i>
						3732.1k Fan
					</a>
					<a href="https://www.youtube.com/user/TGDDVideoReviews" class="link-ytb">
						<i class="icon-youtube"></i>
						844k Đăng ký
					</a>
				</div>
				<div class="f-certify">
					<a rel="nofollow" href="http://online.gov.vn/Home/WebDetails/20090" target="_blank">
						<i class="icon-congthuong"></i>
					</a>
					<a rel="nofollow" href="http://127.0.0.1:5500/tos#giai-quyet-khieu-nai" target="_blank">
						<i class="icon-khieunai"></i>
					</a>
					<a rel="nofollow" class="dmca-badge"
						href="https://www.dmca.com/Protection/Status.aspx?ID=5b62e759-2a0c-4d86-b972-af903bfbc89d&amp;refurl=http://127.0.0.1:5500/TGDD-PAGE/tgdd.html"
						target="_blank">
						<i class="icon-protected"></i>
					</a>
					<a class="_ncsc" rel="nofollow"
						href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/thegioididongcom-1632835473"
						title="Chung nhan Tin Nhiem Mang" target="_blank">
						<img class="lazy ls-is-cached lazyloaded"
							data-original="https://tinnhiemmang.vn/handle_cert?id=thegioididong.com"
							data-src="https://tinnhiemmang.vn/handle_cert?id=thegioididong.com" width="150"
							alt="Chung nhan Tin Nhiem Mang" src="./tgdd_files/handle_cert" />
					</a>
				</div>
				<div class="f-website">
					<div class="footer__logo">
						<p class="footer__logo-hd">Website cùng tập đoàn</p>
						<ul class="footer__logo-list">
							<li>
								<a rel="nofollow" href="https://www.dienmayxanh.com/" target="_blank">
									<i class="iconlogo-dienmayxanh"></i>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="https://www.bachhoaxanh.com/" target="_blank">
									<i class="iconlogo-bachhoaxanh"></i>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="https://www.topzone.vn/" target="_blank"
									title="Chuỗi cửa hàng cao cấp Apple">
									<i class="iconlogo-topzone"></i>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="https://www.dienmayxanh.com/xe-dap" target="_blank"
									title="Chuỗi cửa hàng xe đạp">
									<i class="iconlogo-cycle"></i>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="https://www.avasport.com/" target="_blank"
									title="Chuỗi cửa hàng thể thao">
									<i class="iconlogo-sport"></i>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="https://www.avakids.com/" target="_blank"
									title="Chuỗi cửa hàng mẹ và bé">
									<i class="iconlogo-kids"></i>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="https://www.avafashion.com/" target="_blank"
									title="Chuỗi cửa hàng thời trang">
									<i class="iconlogo-fashion"></i>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="https://www.thegioididong.com/avaji" target="_blank"
									title="Chuỗi cửa hàng trang sức">
									<i class="iconlogo-ji"></i>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="https://www.dichvutantam.com/" target="_blank"
									title="Dịch vụ vệ sinh máy lạnh, sửa chữa điện nước, lắp đặt máy lạnh, máy giặt, tivi">
									<i class="iconlogo-tantam"></i>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="https://www.nhathuocankhang.com/" target="_blank"
									title="Chuỗi nhà thuốc chuẩn GPP">
									<i class="iconlogo-ankhang"></i>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="https://www.4kfarm.com/" target="_blank"
									title="Nông trại rau sạch">
									<i class="iconlogo-4kfarm"></i>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="https://vieclam.thegioididong.com/" target="_blank"
									title="Trang tuyển dụng của tập đoàn Thế Giới Di Động">
									<i class="iconlogo-vieclam"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<div class="copyright">
			<section>
				<p>
					© 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH &amp; ĐT TP.HCM cấp ngày
					02/01/2007.
					GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020.<br />
					Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email:
					cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt.
					<a rel="nofollow" href="http://127.0.0.1:5500/thoa-thuan-su-dung-trang-mxh">Xem chính sách sử
						dụng</a>
				</p>
			</section>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
		</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
		</script>
</body>

</html>